body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.screen {
    width: 80%;
    height: 50px;
    background-color: #ccc;
    margin: 20px auto;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin-top: 10px;
}

.seats-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.seat {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border: 2px solid #666;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.seat.selected {
    background-color: rgba(0, 128, 0, 0.863);
    border: 2px solid black;
    color: white;
}

.payment-form {
    margin-top: 20px;
}

.payment-form input,
.payment-form button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

h1 h2 {
    text-align: center;
}

.pay-div {
    display: flex;
    justify-content: center;
}
.payment {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: red;
    color: white;
    transition: all ease 0.3s;
    margin-top: 10px;
    font-weight: 600;

}
.payment:hover {
    color: red;
    background-color: orange;
    font-weight: 600;
}


.footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section h3, .footer-section h2 {
    color: #ffcc00;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffcc00;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #ffcc00;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding: 10px;
    font-size: 14px;
}