body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
}

img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.movie-card {
    background: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 15px;
}
.movie-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 8px 16px rgba(155, 153, 153, 0.2);
}
.movie-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.movie-info {
    padding: 20px;
}
.movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.movie-genre {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 10px;
}
.movie-description {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 10px;
}
.movie-rating {
    font-size: 18px;
    font-weight: bold;
    color: #f1c40f;
}
.logo{
    height: 30px;
    transform: scale(250%);
    margin-bottom: 10px;
}
.navbar {
    background-color: #f84464;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
}
.slide img{
    width: 98%;
}
.slide{
    display: flex;
    justify-content: center;
    
}
img{
    border-radius: 10px;
}

.title{
    text-align: center;
    margin-top: 15px;
    animation: zoom 1s infinite alternate ease-in-out;
}

.heading .ani-title{
    width: 20ch;
    text-wrap: nowrap;
    overflow: hidden;   
    animation: typing 1.3s infinite steps(50) alternate-reverse;

}

@keyframes typing {
        from{
            width: 0ch;
        }
}

@keyframes zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

.main-card{
    /* margin: 100px; */
}
